{% extends 'base.html' %}

{% block content %}
<h1>회원탈퇴</h1>
<div class="text-center mt-4">
    {% if user.is_authenticated %}
        <form method="post" action="{% url 'index' %}">
            {% csrf_token %}
            <label for="confirmation">아래에 '회원탈퇴'를 입력하세요:</label>
            <input type="text" name="confirmation" id="confirmation" placeholder="회원탈퇴" required>
            <button type="submit" class="btn btn-danger">탈퇴하기</button>
        </form>
    {% else %}
        <a href="{% url 'login' %}" class="btn btn-primary">로그인</a>
    {% endif %}
</div>
{% endblock content %}
