{% extends 'base.html' %}
{% block content %}
<div id="layoutSidenav_content" class="d-flex justify-content-center align-items-center"
     style="height: 100vh; background-color: black;">
    <div style="text-align: center;">
        <h1 style="color: white; font-size: 100px;">단어 나오는 곳</h1>
    </div>
    <div style="margin-top: 20px;">
        <form method="post">
            {% csrf_token %}
            <input type="text" name="input_text" class="form-control" placeholder="텍스트 입력" required>
            <a href="{% url 'Word_Practice_Score' %}" class="btn btn-primary">점수확인</a>
        </form>
    </div>
</div>
{% endblock content %}